$borderCollapse: collapse !default;
$textAlign: left !default;
$textColor: rgb(48, 48, 48) !default;
$backgroundColor: rgba(245, 246, 255, 1.000) !default;

.responsive-sortable-react-table {
    border-collapse: $borderCollapse;
    text-align: $textAlign;
    background-color: $backgroundColor;
    color: $textColor;
}

.responsive-sortable-react-table th {
  padding: 10px;
}

.responsive-sortable-react-table td {
  padding: 10px;
}

.responsive-sortable-react-table-pagination {
  margin-top: 10px;
  display: inline-block;
  background-color: #ffffff;
}

.responsive-sortable-react-table-pagination a {
  float: left;
  padding: 3px 6px;
  color: rgb(0, 72, 167);
  text-decoration: none;
  border: 0.5px solid rgb(206, 206, 206);
  user-select: none;
}

.responsive-sortable-react-table-pagination .selected {
  box-shadow: 0px 0px 1px rgb(57, 104, 175);
  border-color:rgb(35, 123, 255);
}

.responsive-sortable-react-table-pagination a:hover {
  background-color: #e0e0e0;
}